div {
  .app {
    display: flex;
    min-height: 100%;
    flex-flow: row nowrap;
  }

  #side-menu {
    flex: 0 1 30%;
    min-height: 100%;
    background-color: antiquewhite;
  }

  #screen-content {
    flex: 0 1 70%;
    min-height: 100%;
    background-color: burlywood;
  }
}