.app {
  display: flex;
  min-height: 100%;
  flex-flow: row nowrap;

  &--light {
    background-color: #ffffff;
  }

  &--dark {
    background-color: #1E2125;
    color: rgb(218, 221, 225);
  }

  .side-nav {
    flex: 0 1 30%;
    min-height: 100%;
  }

  .screen-content {
    flex: 0 1 70%;
    min-height: 100%;
  }
}
